---
import Categories from "@components/widget/Categories.astro";
import CustomSidebarWidgets from "@components/widget/CustomSidebarWidgets.astro";
import Profile from "@components/widget/Profile.astro";
import Series from "@components/widget/Series.astro";
import Tag from "@components/widget/Tags.astro";
import { seriesConfig } from "@configs/series";

interface Props {
	class?: string;
	series?: string;
	isPostsRoute: boolean;
}

const className = Astro.props.class;
const series = Astro.props.series;
---

<div id="sidebar" class:list={[className, "w-full"]}>
    <div class="flex flex-col w-full gap-4 mb-4">
        <Profile></Profile>
    </div>
    <div id="sidebar-sticky" class="transition-all duration-700 flex flex-col w-full gap-4 top-4 sticky top-4">
	<div id="series" class="flex flex-col w-full gap-4">
		{ seriesConfig.enabled && series && <Series series={ series }></Series> }
	</div>
        <Categories class="onload-animation" style="animation-delay: 150ms"></Categories>
        <Tag class="onload-animation" style="animation-delay: 200ms"></Tag>
        <CustomSidebarWidgets></CustomSidebarWidgets>


    </div>
</div>