---
import type { MarkdownHeading } from "astro";
import { siteConfig } from "../../config";
import { runningTimeConfig } from "../../configs/running-time";
import { seriesConfig } from "../../configs/series";
import I18nKey from "../../i18n/i18nKey";
import { i18n } from "../../i18n/translation";
import RunningTime from "../misc/RunningTime.astro";
import BlogInfo from "./BlogInfo.astro";
import Categories from "./Categories.astro";
import Profile from "./Profile.astro";
import Series from "./Series.astro";
import Tag from "./Tags.astro";
import WidgetLayout from "./WidgetLayout.astro";

interface Props {
	class?: string;
	series?: string;
	isPostsRoute: boolean;
}

const className = Astro.props.class;
const series = Astro.props.series;
const isPostsRoute = Astro.props.isPostsRoute;
---
<div id="sidebar" class:list={[className, "w-full"]}>
    <div class="flex flex-col w-full gap-4 mb-4">
        <Profile></Profile>
    </div>
    <div id="sidebar-sticky" class="transition-all duration-700 flex flex-col w-full gap-4 top-4 sticky top-4">
	<div id="series" class="flex flex-col w-full gap-4">
		{ seriesConfig.enabled && series && <Series series={ series }></Series> }
	</div>
        <Categories class="onload-animation" style="animation-delay: 150ms"></Categories>
        <Tag class="onload-animation" style="animation-delay: 200ms"></Tag>
        <BlogInfo class="onload-animation" style="animation-delay: 300ms"></BlogInfo>
        <RunningTime class="onload-animation" style="animation-delay: 350ms"></RunningTime>


    </div>
</div>
