---
import TwikooLite from "@components/comment/TwikooLite.astro";
import { twikooConfig } from "@configs/twikoo";

interface Props {
	path: string;
}

const { path } = Astro.props;
---
<div class="p-2 mb-4">
  {twikooConfig.enabled && <TwikooLite path={path} />}
</div>
