---
import type { CollectionEntry } from "astro:content";
import Twikoo from "@components/comment/Twikoo.astro";
import { twikooConfig } from "@configs/twikoo";

interface Props {
	post: CollectionEntry<"posts">;
}

const { slug } = Astro.props.post;

const path = `/posts/${slug}`;
---
<div class="card-base p-6 mb-4">
  {twikooConfig.enabled && <Twikoo path={path} />}
</div>
