---
import "@fontsource-variable/jetbrains-mono";
import "@fontsource-variable/jetbrains-mono/wght-italic.css";

interface Props {
	class: string;
}
const className = Astro.props.class;
const uniqueId = `md-root-${Math.random().toString(36).slice(2)}`;
---
<div id={uniqueId} data-pagefind-body class={`prose dark:prose-invert prose-base !max-w-none custom-md ${className}`}>
    <!--<div class="prose dark:prose-invert max-w-none custom-md">-->
    <!--<div class="max-w-none custom-md">-->
    <slot/>
</div>

<script is:inline define:vars={{ uniqueId }}>
  const markdownRoot = document.getElementById(uniqueId);

  if (markdownRoot) {
    const handleClick = (e) => {
      const target = e.target;
      if (target && target.classList.contains("copy-btn")) {
        const preEle = target.closest("pre");
        const codeEle = preEle?.querySelector("code");
        const code = Array.from(codeEle?.querySelectorAll(".code:not(summary *)") ?? [])
          .map(el => el.textContent)
          .join("\n");
        navigator.clipboard.writeText(code);

        const timeoutId = target.getAttribute("data-timeout-id");
        if (timeoutId) {
          clearTimeout(parseInt(timeoutId));
        }

        target.classList.add("success");

        const newTimeoutId = setTimeout(() => {
          target.classList.remove("success");
          target.removeAttribute("data-timeout-id");
        }, 1000);

        target.setAttribute("data-timeout-id", newTimeoutId.toString());
      }
    };

    const clearAllCopyTimeouts = () => {
      const copyButtons = markdownRoot.querySelectorAll(".copy-btn");
      copyButtons.forEach(button => {
        const timeoutId = button.getAttribute("data-timeout-id");
        if (timeoutId) {
          clearTimeout(parseInt(timeoutId));
          button.classList.remove("success");
          button.removeAttribute("data-timeout-id");
        }
      });
    };

    markdownRoot.addEventListener("click", handleClick);
    document.addEventListener('astro:before-swap', clearAllCopyTimeouts);
  }
</script>
