---
import type { CollectionEntry } from "astro:content";
import I18nKey from "@i18n/i18nKey";
import { i18n } from "@i18n/translation";
import { getPostUrlBySlug } from "@utils/url-utils";
import { Icon } from "astro-icon/components";

interface Props {
	posts: CollectionEntry<"posts">[];
}

const { posts } = Astro.props;
---

{posts.length > 0 && (
    <div class="card-base p-6 mb-4 onload-animation">
        <h2 class="flex flex-row items-center font-bold text-lg text-neutral-900 dark:text-neutral-100 transition relative ml-3 mb-4
            before:w-1 before:h-4 before:rounded-md before:bg-[var(--primary)]
            before:absolute before:left-[-16px] before:top-[5.5px]"
        >
            <Icon name="material-symbols:auto-stories-outline-rounded" class="text-xl mr-2"></Icon>
            {i18n(I18nKey.relatedPosts)}
        </h2>
        <ul class="list-none p-0 m-0">
            {posts.map((post) => (
                <li class="mb-2 last:mb-0">
                    <a href={getPostUrlBySlug(post.slug)} class="link text-[var(--primary)] transition text-base font-medium">
                        {post.data.title}
                    </a>
                </li>
            ))}
        </ul>
    </div>
)}
